{% from 'php/map.jinja' import php with context %}

[global]

{% for option, value in salt['pillar.get']('php:fpm:global', {'error_log': '/var/log/php' + php.version + '-fpm/fpm.log'}).items() %}
{{ option }} = {{ value }}
{% endfor %}

include = /etc/php/{{ php.version }}/fpm/pools-enabled/*.conf
