{%
  set _default_config = {
    'listen_addresses': [
      'localhost'
    ],
    'port': 5432,
    'max_connections': 100,

    'ssl': True,
    'ssl_cert_file': '/etc/ssl/certs/ssl-cert-snakeoil.pem',
    'ssl_key_file': '/etc/ssl/private/ssl-cert-snakeoil.key',

    'unix_socket_directories': '/var/run/postgresql',

    'shared_buffers': '128MB',
    'dynamic_shared_memory_type': 'posix',

    'log_line_prefix': '%m [%p] %q%u@%d ',
    'log_timezone': 'UTC',

    'datestyle': 'iso, ymd',
    'timezone': 'UTC',

    'lc_messages': 'C',
    'lc_monetary': 'C',
    'lc_numeric': 'C',
    'lc_time': 'C',

    'default_text_search_config': 'pg_catalog.english',

    'include_dir': 'conf.d',
  }
%}

{%
  set postgresql = salt['grains.filter_by']({
    '16.04': {
      'packages': [
        'postgresql-9.5',
        'postgresql-client-common',
        'sudo',
      ],
      'version': '9.5',
      'config': salt['defaults.merge'](_default_config, {
        'data_directory': '/var/lib/postgresql/9.5/main',
        'hba_file': '/etc/postgresql/9.5/main/pg_hba.conf',
        'ident_file': '/etc/postgresql/9.5/main/pg_ident.conf',

        'external_pid_file': '/var/run/postgresql/9.5-main.pid',

        'password_encryption': True,

        'cluster_name': '9.5/main',

        'stats_temp_directory': '/var/run/postgresql/9.5-main.pg_stat_tmp',
      }),
    },
    '18.04': {
      'packages': [
        'postgresql-10',
        'postgresql-client-common',
        'sudo',
      ],
      'version': '10',
      'config': salt['defaults.merge'](_default_config, {
        'data_directory': '/var/lib/postgresql/10/main',
        'hba_file': '/etc/postgresql/10/main/pg_hba.conf',
        'ident_file': '/etc/postgresql/10/main/pg_ident.conf',

        'external_pid_file': '/var/run/postgresql/10-main.pid',

        'password_encryption': 'md5',

        'cluster_name': '10/main',

        'stats_temp_directory': '/var/run/postgresql/10-main.pg_stat_tmp',
      }),
    },
    '19.04': {
      'packages': [
        'postgresql-11',
        'postgresql-client-common',
        'sudo',
      ],
      'version': '11',
      'config': salt['defaults.merge'](_default_config, {
        'data_directory': '/var/lib/postgresql/11/main',
        'hba_file': '/etc/postgresql/11/main/pg_hba.conf',
        'ident_file': '/etc/postgresql/11/main/pg_ident.conf',

        'external_pid_file': '/var/run/postgresql/11-main.pid',

        'password_encryption': 'md5',

        'cluster_name': '11/main',

        'stats_temp_directory': '/var/run/postgresql/11-main.pg_stat_tmp',
      }),
    },
  }, grain='osrelease', merge=salt['pillar.get']('postgresql', {}))
%}
