# Vagrant
/.vagrant/

# Vagrant customisation
/Vagrantfile.config
/Vagrantfile.local


# VM console logs
/*-console.log

# npm
/node_modules/
/npm-*.log

# GitBook
/_book/

# IDEs
.project
.settings/
