/var/log/php{{ version }}-fpm/*.log /var/log/php{{ version }}-fpm/*/*.log {
    weekly
    rotate 12
    missingok
    notifempty
    compress
    delaycompress

    sharedscripts
    postrotate
        /usr/lib/php/php{{ version }}-fpm-reopenlogs
{% for acl in config.fpm.log_acl %}
        setfacl -R -m {{ acl['acl_type'] }}:{{ acl['acl_name'] }}:{{ acl['perms'] }} /var/log/php{{ version }}-fpm
{% endfor %}
    endscript
}
