/var/log/php{{ php.version }}-fpm/*.log /var/log/php{{ php.version }}-fpm/*/*.log {
    weekly
    rotate 12
    missingok
    notifempty
    compress
    delaycompress

    sharedscripts
    postrotate
        /usr/lib/php/php{{ php.version }}-fpm-reopenlogs
{% for acl in salt['pillar.get']('php:fpm:log_acl', []) %}
        setfacl -R -m {{ acl['acl_type'] }}:{{ acl['acl_name'] }}:{{ acl['perms'] }} /var/log/php{{ php.version }}-fpm
{% endfor %}
    endscript
}
