[Unit]
Description=MailCatcher
After=network.service

[Service]
User=mailcatcher
Group=mailcatcher
ExecStart=/var/mailcatcher/.gem/ruby/2.3.0/bin/mailcatcher --foreground --ip 0.0.0.0

[Install]
WantedBy=multi-user.target
