{% for record in pillar['postgresql']['client_authentication'] %}
{{ record['type'] }} {{ record['database'] }} {{ record['user'] }} {{ record.get('address', '') }} {{ record['method'] }}
{% endfor %}
