{% set platform = pillar['platforms'][domain] %}
{% set ssl = 'ssl' in platform['nginx']
    and salt['file.file_exists'](platform['nginx']['ssl']['certificate'])
    and salt['file.file_exists'](platform['nginx']['ssl']['certificate_key']) %}

{% if ssl %}
server {
    listen 80;
    server_name {{ domain }}{% if 'aliases' in platform %} {{ platform['aliases'] | join(' ') }}{% endif %};

    root {{ platform['user']['home'] }}/current;
    rewrite ^ https://$host$request_uri? permanent;
}
{% endif %}

server {
    listen {{ '443 ssl' if ssl else '80' }};
    server_name {{ domain }}{% if 'aliases' in platform %} {{ platform['aliases'] | join(' ') }}{% endif %};

{% if ssl %}
    ssl on;
    ssl_certificate {{ platform['nginx']['ssl']['certificate'] }};
    ssl_certificate_key {{ platform['nginx']['ssl']['certificate_key'] }};
{% endif %}

    root {{ platform['user']['home'] }}/current/www;
    index index.php index.html;

    add_header X-XSS-Protection "1; mode=block";
    add_header X-Backend-Server $hostname;

    access_log /var/log/nginx/{{ platform['basename'] }}/access.log{% if 'access_log_format' in platform['nginx'] %} {{ platform['nginx']['access_log_format'] }}{% endif %};
    error_log /var/log/nginx/{{ platform['basename'] }}/error.log error;

    add_header X-Backend-Server $hostname;

    client_max_body_size {{ platform['nginx']['client_max_body_size'] }};

    set $platform_maintenance 0;

    include "sites-extra/{{ platform['basename'] }}.*.conf";

    location ~ ^/(status|ping)$ {
{% for client in salt['pillar.get']('php-fpm:status_clients', []) %}
        allow {{ client }};
{% endfor %}
        deny all;

        include fastcgi.conf;
        fastcgi_pass unix:/var/run/php/php7.0-fpm-{{ platform['basename'] }}.sock;
    }

    {{ salt['pillar.get']('maintenance:override-conditions', '') | indent(4) }}

    location ~ \.php(/|$) {
        # Default Debian configuration is too greedy -- doesn't handle URLs
        # with multiple instances of ".php", e.g.:
        #
        # /module.php/core/frontpage_welcome.php
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO       $fastcgi_path_info;

        # Everything below here has been added from the snippets/fastcgi-php file.
        # The ordering is somehow compiled wrong and explicit setting this again here
        # in the explicit order fixes that.
        try_files $fastcgi_script_name =404;

        # Workaround try_files resetting $fastcgi_path_info
        set $path_info $fastcgi_path_info;
        fastcgi_param PATH_INFO $path_info;

        fastcgi_index index.php;
        include fastcgi.conf;

        fastcgi_pass unix:/var/run/php/php7.0-fpm-{{ platform['basename'] }}.sock;
    }
}
