server {
    listen 80;
    server_name {{ platform }};

    root /home/asso/simplesamlphp/www;
    index index.php index.html index.htm;

    # Security features
    server_tokens off;
    add_header X-XSS-Protection "1; mode=block";

    #location ~ ^(.+\.php)(/|$) {
    location ~ \.php(/|$) {
        # Default Debian configuration is too greedy -- doesn't handle URLs
        # with multiple instances of ".php", e.g.:
        #
        # /module.php/core/frontpage_welcome.php
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO       $fastcgi_path_info;

        # Everything below here has been added from the snippets/fastcgi-php file.
        # The ordering is somehow compiled wrong and explicit setting this again here
        # in the explicit order fixes that.
        try_files $fastcgi_script_name =404;

        # Workaround try_files resetting $fastcgi_path_info
        set $path_info $fastcgi_path_info;
        fastcgi_param PATH_INFO $path_info;

        fastcgi_index index.php;
        include fastcgi.conf;

        fastcgi_pass unix:/var/run/php/php7.0-fpm-ubuntu.sock;
    }
}
