[__default__]
listen = /var/run/php/php7.0-fpm-__default__.sock
listen.backlog = 128
listen.allowed_clients = 127.0.0.1
listen.owner = {{ pillar['nginx']['user'] }}
listen.group = {{ pillar['nginx']['user'] }}
listen.mode = 0600

user = {{ pillar['nginx']['user'] }}
group = {{ pillar['nginx']['user'] }}

pm = static
pm.max_children = 10
