[__default__]
listen = /var/run/php/php7.0-fpm-__default__.sock
listen.backlog = 128
listen.allowed_clients = 127.0.0.1
listen.owner = {{ salt['pillar.get']('app:php:fpm:socket_owner', 'www-data') }}
listen.group = {{ salt['pillar.get']('app:php:fpm:socket_group', 'www-data') }}
listen.mode = 0600

user = www-data
group = www-data

pm = static
pm.max_children = 1
