[global]

{% for option, value in salt['pillar.get']('php:fpm:global', {'error_log': '/var/log/php7.0-fpm/fpm.log'}).items() %}
{{ option }} = {{ value }}
{% endfor %}

include = /etc/php/7.0/fpm/pools-enabled/*.conf
