{% set platform = pillar['platforms'][domain] %}

set $platform_basename {{ platform['basename'] | yaml_dquote }};
set $platform_name {{ platform['name'] | yaml_dquote }};
set $platform_email {{ platform['email'] | yaml_dquote }};
set $platform_lang {{ platform['lang'] | yaml_dquote }};

include snippets/error-pages.conf;
