{
  "capabilities": [
    {
      "browserName": "firefox",
      "maxInstances": 1,
      "seleniumProtocol": "WebDriver"
    }
  ],
  "proxy": "org.openqa.grid.selenium.proxy.DefaultRemoteProxy",
  "maxSession": 1,
{%- if 'host' in pillar['selenium-node'] %}
  "host": {{ pillar['selenium-node']['host'] }},
{% endif %}
  "port": {{ pillar['selenium-node']['port'] }},
  "register": true,
  "registerCycle": 5000,
  "hub": "{{ pillar['selenium-node']['hub'] }}",
  "nodeStatusCheckTimeout": 5000,
  "nodePolling": 5000,
  "role": "node",
  "unregisterIfStillDownAfter": 60000,
  "downPollingLimit": 2,
  "debug": false,
  "servlets": [],
  "withoutServlets": [],
  "custom": {}
}
