{
{%- if 'host' in pillar['selenium-hub'] %}
  "host": {{ pillar['selenium-hub']['host'] }},
{% endif %}
  "port": {{ pillar['selenium-hub']['port'] }},
  "newSessionWaitTimeout": -1,
  "servlets" : [],
  "withoutServlets": [],
  "custom": {},
  "capabilityMatcher": "org.openqa.grid.internal.utils.DefaultCapabilityMatcher",
  "throwOnCapabilityNotPresent": true,
  "cleanUpCycle": 5000,
  "role": "hub",
  "debug": false,
  "browserTimeout": 60,
  "timeout": 60
}
