[Unit]
Description=Selenium hub
Requires=xvfb.service
After=network.target syslog.target xvfb.service

[Service]
Environment=DISPLAY=:99
User=selenium
ExecStart=/usr/bin/java -Djava.net.preferIPv4Stack=true -Dwebdriver.chrome.driver=/opt/selenium/chromedriver/chromedriver -jar /opt/selenium/selenium-server.jar -role node -nodeConfig /opt/selenium/node.json

[Install]
WantedBy=multi-user.target
