[Unit]
Description=X11VNC
Requires=xvfb.service
After=network.target xvfb.service

[Service]
User=selenium
ExecStart=/usr/bin/x11vnc -rfbport 5999 -display :99 -forever

[Install]
WantedBy=multi-user.target
