#!/bin/bash

#
# Ubiquitous Moodle
#
# @author Luke Carrier <luke@carrier.im>
# @copyright 2018 The Ubiquitous Authors
#

export UBIQUITOUS_PHPFPM_SERVICE="php{{ php.version }}-fpm"
export UBIQUITOUS_PHPFPM_LINK_FMT="/etc/php/{{ php.version }}/fpm/pools-enabled/%s.conf"
export UBIQUITOUS_PHPFPM_LINK_GLOB="/etc/php/{{ php.version }}/fpm/pools-enabled/%s.+(blue|green).conf"
export UBIQUITOUS_PHPFPM_DIR="/etc/php/{{ php.version }}/fpm/pools-available"
export UBIQUITOUS_PHPFPM_CONF="${UBIQUITOUS_PHPFPM_DIR}/%s.%s.conf"
export UBIQUITOUS_PHPFPM_SOCK="/var/run/php/php{{ php.version }}-fpm-%s.sock"

require_app() {
    local domain="$1"

    require_platform "$domain"

    local phpfpm_link_glob="$(printf "$UBIQUITOUS_PHPFPM_LINK_GLOB" "$platform_basename")"
    platform_current_phpfpm_link=($phpfpm_link_glob)
    if [ -z ${platform_current_phpfpm_link+x} ]; then
        platform_current_phpfpm_link='<invalid (no link)>'
    fi

    set +e
    platform_current_phpfpm_config_target="$(resolve_symlink "$platform_current_phpfpm_link" "$UBIQUITOUS_PHPFPM_DIR")"
    platform_current_phpfpm_config_state="$?"
    set -e
}

phpfpm_resolve_instance_config() {
    local basename="$1"
    local instance="$2"

    printf "$UBIQUITOUS_PHPFPM_CONF" "$basename" "$instance"
}

phpfpm_resolve_instance_link() {
    local basename="$1"
    local instance="$2"

    printf "$UBIQUITOUS_PHPFPM_LINK_FMT" "${basename}.${instance}"
}

phpfpm_resolve_instance() {
    local basename="$1"

    local phpfpm_link_glob="$(printf "$UBIQUITOUS_PHPFPM_LINK_GLOB" "$basename")"
    local phpfpm_link=($phpfpm_link_glob)
    local config_basename="$(basename -s .conf $phpfpm_link)"

    echo "$config_basename" | sed 's/.*\.//'
}

phpfpm_resolve_socket() {
    local basename="$1"
    local instance="$2"

    printf "$UBIQUITOUS_PHPFPM_SOCK" "${basename}.${instance}"
}

phpfpm_resolve_socket_link() {
    local basename=$1

    printf "$UBIQUITOUS_PHPFPM_SOCK" "$basename"
}

phpfpm_disable_instance() {
    local basename="$1"
    local instance="$2"
    local reload="$3"

    local source="$(phpfpm_resolve_instance_config "$basename" "$instance")"
    local link="$(phpfpm_resolve_instance_link "$basename" "$instance")"

    rm -f "$link"
    if [ "$reload" != "0" ]; then
        systemctl reload "$UBIQUITOUS_PHPFPM_SERVICE"
    fi
}

phpfpm_enable_instance() {
    local basename="$1"
    local instance="$2"
    local reload="$3"

    local source="$(phpfpm_resolve_instance_config "$basename" "$instance")"
    local link="$(phpfpm_resolve_instance_link "$basename" "$instance")"

    ln -sfn "$source" "$link"
    if [ "$reload" != "0" ]; then
        systemctl reload "$UBIQUITOUS_PHPFPM_SERVICE"
    fi
}

phpfpm_set_current_instance() {
    local basename="$1"
    local instance="$2"

    local source="$(phpfpm_resolve_socket "$basename" "$instance")"
    local link="$(phpfpm_resolve_socket_link "$basename")"

    ln -sfn "$source" "$link"
}

phpfpm_other_instance() {
    local instance="$1"

    case "$instance" in
        blue)
            echo "green"
            ;;
        green)
            echo "blue"
            ;;
        *)
            abort $ERROR_PARAMS "unknown instance '${$instance}'"
            ;;
    esac
}
