{%
  set nginx = salt['grains.filter_by']({
    '16.04': {
      'packages': [
        'nginx',
        'nginx-extras',
      ],
      'has_modules': False,
      'modules_enabled': [],
    },
    '18.04': {
      'packages': [
        'nginx',
        'libnginx-mod-http-headers-more-filter',
      ],
      'has_modules': True,
      'modules_enabled': [
        'mod-http-headers-more-filter',
      ],
    }
  }, 'osrelease')
%}
