<?php // Moodle configuration file

// Boilerplate
unset($CFG);
global $CFG;
$CFG = new stdClass();

// Database
$CFG->dbtype    = {{ cfg['dbtype'] | json }};
$CFG->dblibrary = {{ cfg['dblibrary'] | json }};
$CFG->dbhost    = {{ cfg['dbhost'] | json }};
$CFG->dbname    = {{ cfg['dbname'] | json }};
$CFG->dbuser    = {{ cfg['dbuser'] | json }};
$CFG->dbpass    = {{ cfg['dbpass'] | json }};
$CFG->prefix    = {{ cfg['prefix'] | json }};
$CFG->dboptions = array(
{% for key, value in cfg['dboptions'].items() %}
    {{ key | json }} => {{ value | json }},
{% endfor %}
);

// Web configuration
$CFG->wwwroot  = {{ cfg['wwwroot'] | json }};
$CFG->sslproxy = {{ cfg['sslproxy'] | default(False) | json }};
$CFG->admin    = {{ cfg['admin'] | json }};

// Data directory
$CFG->dataroot             = {{ cfg['dataroot'] | json }};
$CFG->directorypermissions = {{ cfg['directorypermissions'] }};

{% if 'pre_bootstrap' in cfg %}
{{ cfg['pre_bootstrap'] }}
{% endif %}

// Bootstrap
require_once __DIR__ . '/lib/setup.php';

{% if 'post_bootstrap' in cfg %}
{{ cfg['post_bootstrap'] }}
{% endif %}

// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!
