server {
    listen 80;
    server_name {{ domain }}{% if 'aliases' in platform %} {{ platform['aliases'] | join(' ') }}{% endif %};

    root {{ platform['user']['home'] }}/current;
    index index.php index.html;

    client_max_body_size {{ platform['nginx']['client_max_body_size'] }};

    include "sites-extra/{{ platform['basename'] }}.*.conf";

    location ~ ^(.+\.php)(/|$) {
        include snippets/fastcgi-php.conf;
        fastcgi_param SCRIPT_FILENAME $document_root$1;
        fastcgi_pass unix:/var/run/php/php7.0-fpm-ubuntu.sock;
    }
}
