[{{ domain }}]

listen = /var/run/php/php7.0-fpm-{{ platform['basename'] }}.sock
listen.backlog = 128
listen.allowed_clients = 127.0.0.1
listen.owner = {{ pillar['nginx']['user'] }}
listen.group = {{ pillar['nginx']['user'] }}
listen.mode = 0600

user = {{ platform['user']['name'] }}
group = {{ platform['user']['name'] }}

pm = {{ platform['php']['fpm']['pm'] }}
pm.max_children = {{ platform['php']['fpm']['pm.max_children'] }}

{% if platform['php']['fpm']['pm'] == 'dynamic' %}
pm.start_servers = {{ platform['php']['fpm']['pm.start_servers'] }}
pm.min_spare_servers = {{ platform['php']['fpm']['pm.min_spare_servers'] }}
pm.max_spare_servers = {{ platform['php']['fpm']['pm.max_spare_servers'] }}
pm.max_requests = {{ platform['php']['fpm']['pm.max_requests'] }}
{% endif %}

pm.status_path = /status
ping.path = /ping
ping.response = pong

catch_workers_output = no
php_flag[display_errors] = Off
php_flag[log_errors] = On
php_value[error_log] = /var/log/php7.0-fpm/{{ platform['basename'] }}/pool.log

security.limit_extensions = .php

env[HOSTNAME] = {{ grains.nodename | yaml_squote }}
env[PATH] = $PATH
{% if 'env' in platform['php'] %}
{% for variable, value in platform['php']['env'].items() %}
env[{{ variable }}] = {{ value | yaml }}
{% endfor %}
{% endif %}

{% if 'flags' in platform['php'] %}
{% for option, value in platform['php']['flags'].items() %}
php_flag[{{ option }}] = {{ value }}
{% endfor %}
{% endif %}

{% if 'values' in platform['php'] %}
{% for option, value in platform['php']['values'].items() %}
php_value[{{ option }}] = {{ value }}
{% endfor %}
{% endif %}
