<?php // Moodle configuration file

{%- set cfg = salt['pillar.get']('platforms:' + domain + ':moodle') -%}

// Boilerplate
unset($CFG);
global $CFG;
$CFG = new stdClass();

// Database
$CFG->dbtype    = {{ cfg['dbtype'] | yaml_squote }};
$CFG->dblibrary = {{ cfg['dblibrary'] | yaml_squote }};
$CFG->dbhost    = {{ cfg['dbhost'] | yaml_squote }};
$CFG->dbname    = {{ cfg['dbname'] | yaml_squote }};
$CFG->dbuser    = {{ cfg['dbuser'] | yaml_squote }};
$CFG->dbpass    = {{ cfg['dbpass'] | yaml_squote }};
$CFG->prefix    = {{ cfg['prefix'] | yaml_squote }};
$CFG->dboptions = array(
{% for key, value in cfg['dboptions'].items() %}
    {{ key | yaml_squote }} => {{ value | json }},
{% endfor %}
);

// Source directory
{% if 'dirroot' in cfg %}
$CFG->dirroot  = {{ cfg['dirroot'] | yaml_squote }};
{% endif %}

// Web configuration
$CFG->wwwroot  = {{ cfg['wwwroot'] | yaml_squote }};
$CFG->sslproxy = {{ cfg['sslproxy'] | default(False) | json }};
$CFG->admin    = {{ cfg['admin'] | yaml_squote }};

// Data directory
$CFG->dataroot             = {{ cfg['dataroot'] | yaml_squote }};
$CFG->directorypermissions = {{ cfg['directorypermissions'] }};

{% if 'pre_bootstrap' in cfg %}
{{ cfg['pre_bootstrap'] }}
{% endif %}

// Bootstrap
require_once __DIR__ . '/lib/setup.php';

{% if 'post_bootstrap' in cfg %}
{{ cfg['post_bootstrap'] }}
{% endif %}

// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!
